.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
}

a, button {
    cursor: pointer;
    text-decoration: none;
}

p {
    margin: 0;
    font-weight: 300;
}

.btn {
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #fff;
    background-color: transparent;

    transition: all .3s 0s ease-in-out;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.btn.btn-secondary {
    background-color: #000;
    border: none;
}

.btn.btn-secondary:hover {
     color: #fff;
 }